/* FONT */
@import url('https://fonts.googleapis.com/css2?family=Syne&display=swap');

.site * {
    font-family: 'Syne', sans-serif !important;
}

/* FONT */
/* SITE */

#wpadminbar, .entry-header, .entry-footer {
    display: none !important;
}

.site-main, .site-header, .menu-item a {
    padding: 0 !important;
}

.entry-content, .wp-block-group, .site h1, .site-branding, .primary-menu-container, #menu-item-45, #menu-item-45 a {
    margin: 0 !important;
}

.wp-block-group {
    gap: 0;
}

.site h1, .main-section, .custom-logo, #menu-item-45 a {
    width: 100% !important;
}

.primary-navigation, .site-branding {
    width: 50%;
}

.site-branding, .planty-footer {
    display: flex;
}

.form-text label, header a, footer a {
    font-weight: 400 !important;
}

.site-branding, .form-order-container-below .ff-t-column-2 {
    align-items: center;
}

#menu-item-45 a, .planty-footer {
    text-align: center;
}

#menu-item-45 a:hover, #menu-item-45 a, #post-8 .flavor-order-button a:hover, .form-button button, .form-order :is(h3, label) {
    color: white !important;
}

#menu-item-45 a:hover, #post-8 .flavor-order-button a:hover, .form-button button:hover {
    background-color: var(--planty-button-hover) !important;
}

.flavor-order-button a, .form-button button {
    height: 55px;
}

.flavor-order-button a, .form-button button {
    width: 200px !important;
}

.meet-us-section, .team-section, .contact-us-section, .form-number {
    background-repeat: no-repeat;
}

.team-section, .contact-us-section, .planty-above-footer {
    background-position: center bottom;
}

.team-group, .planty-footer a {
    margin: auto !important;
}

/* SITE */
/* ANCHOR */

header a, footer a {
    font-size: 16px !important;
}

footer :is(a, a:hover), header :is(a, a:hover) {
    text-decoration: none !important;
}

footer a:focus, header a:focus {
    background-color: unset !important;
    color: unset !important;
}

.site a:hover {
    font-weight: 700;
}

/* ANCHOR */
/* HEADINGS */

.site :is(h1, h2, h3, h4, p) {
    margin-top: 0 !important;
    margin-bottom: 0 !important;
}

.site :is(h1, h2) {
    -webkit-text-stroke: thin;
}

/* HEADINGS */
/* HEADER */

.site-header {
    max-width: 1440px !important;
    min-height: 60px;
    height: 80px;
}

/* HEADER */
/* HEADER LOGO */

.site-branding {
    gap: 1.5%;
    padding-left: 2.5%;
}

.site-logo {
    max-width: 300px !important;
    width: 72.5% !important;
}

.text-logo {
    font-size: 12px;
    color: var(--planty-logo-text);
    font-weight: 600;
}

/* HEADER LOGO */
/* HEADER NAVIGATION */

.menu-wrapper {
    justify-content: flex-end !important;
    column-gap: 7%;
}

.menu-item {
    height: auto !important;
    margin: auto 0 !important;
}

#menu-item-45 {
    width: 37% !important;
    max-width: 236px;
}

#menu-item-45 a {
    vertical-align: middle;
    background-color: var(--planty-nav-button) !important;
}

#menu-item-45, #menu-item-45 a {
    height: 80px !important;
    line-height: 80px;
}

/* HEADER NAVIGATION */
/* MAIN */

.main-section, .meet-us-section {
    border-bottom-left-radius: 50% 10%;
    border-bottom-right-radius: 50% 10%;
}

.flavor-group {
    max-width: none !important;
    justify-content: space-between !important;
}

.flavor-section {
    border-bottom-left-radius: 50% 2.5%;
    border-bottom-right-radius: 50% 2.5%;
}

.flavor-card {
    width: 45%;
    max-width: 393px;
}

.flavor-order-button a {
    border: 0 !important;
}

.wp-block-media-text__content {
    padding-right: 0 !important;
}

.testimonials-card {
    margin: 25px 25px 0 25px !important;
}

.meet-us-section {
    background-image: url(../images/Planty\ Asset\ Meet\ Us.png);
    background-position: center center;
}

.team-section {
    background-image: url(../images/Planty\ Asset\ Team.png);
}

.team-card {
    margin: 25px 60px 0 60px !important;
}

.contact-us-section {
    background-image: url(../images/Planty\ Asset\ Contact\ Us.png);
}

/* MAIN */
/* FORM */


.form-text label {
    font-size: 20px;
}

.form-contact .form-text .ff-el-input--content {
    max-width: 400px !important;
}

.form-number {
    background-image: url(../images/Planty\ Asset\ Commander.png);
    background-position: left;
    background-size: cover;
}

.form-number .ff-el-input--content {
    width: 40px;
}

.form-number input {
    border-radius: 0.25rem 0 0 0.25rem !important;
}

.form-button button {
    background-color: var(--planty-order-button) !important;
    margin-top: 20px;
    border-color: transparent !important;
}

.form-contact {
    width: 400px;
}

.form-contact [name="Message"] {
    min-height: 235px;
    height: 235px;
    min-width: 400px;
}

.form-order-separator-above hr, .form-order-separator-below hr {
    border-color: white;
}
    
.form-order-separator-below {
    width: 1px;
    height: 100%;
    background-color: white;
}

.form-order-container-below .ff-t-column-2 {
    flex-basis: 0.2% !important;
}

.form-order-container-below :is(.ff-t-column-1, .ff-t-column-3) {
    flex-basis: 49.99% !important;
}

/* FORM */
/* FOOTER */

.planty-above-footer {
    height: 144px;
    background-image: url(../images/Planty\ Asset\ Footer.png);
    background-repeat: repeat-x;
    background-size: contain;
}

.planty-footer {
    height: 60px;
}

/* FOOTER */
/* MEDIA */

@media only screen and (max-width: 912px) {
    .site-header {
        height: 60px;
    }

    .site-branding, .primary-navigation, .primary-menu-container, .menu-wrapper, #menu-item-45, #menu-item-45 a {
        height: 100% !important;
    }

    #menu-item-45 a {
        line-height: 60px;
    }

    .site p:not(.text-logo), .menu-item a, .ff-el-input--label label {
        font-size: calc(8px + 0.7vw) !important;
    }

    .site :is(h1, h2) {
        font-size: calc(16px + 3vw) !important;
    }

    .site h3 {
        font-size: calc(12px + 2vw) !important;
    }

    .site h4 {
        font-size: calc(10px + 1vw) !important;
    }

    .text-logo {
        font-size: 1.5vw !important;
    }

    .planty-above-footer {
        height: 108px;
    }
    
    .planty-footer {
        height: 45px;
    }
}

@media only screen and (max-width: 767px) {
    .form-order-container-above, .form-order-container-belown, .form-number {
        display: flex;
    }

    .form-order-container-above, .form-order-container-below {
        gap: 15px;
        width: 100%;
    }

    .form-order-separator-below {
        width: 100%;
        height: 0;
    }

    .form-order-container-above {
        flex-wrap: wrap;
        gap: 0;
        justify-content: space-evenly;
    }

    .form-order-container-above .ff-t-cell {
        flex-basis: 45% !important;
        margin: 0 5px !important;
    }

    .form-number {
        justify-content: center;
        padding-right: 100px;
        background-position: center;
        background-size: contain;
    }
}

@media only screen and (max-width: 481px) {
    .site-header {
        justify-content: space-between;
    }

    .custom-logo {
        max-width: 300px !important;
        max-height: 100px !important;
    }

    .site-logo, .menu-button-container, .primary-navigation {
        position: initial !important;
    }

    .button {
        margin: 0 !important;
    }

    .primary-navigation {
        width: 100px !important;
    }

    .menu-button-container {
        margin-top: 10px;
    }

    .menu-button-container, .site-logo {
        padding: 0 !important;
    }

    .primary-menu-container {
        margin-top: 60px !important;
    }

    .site-branding {
        width: 68% !important;
    }

    .site-logo {
        margin: 15px 0 !important;
        height: auto;
        display: unset !important;
    }

    .custom-logo, .primary-navigation-open .primary-navigation > div > .menu-wrapper li {
        width: 100% !important;
    }

    .primary-navigation-open .primary-navigation > div > .menu-wrapper li {
        max-width: 100% !important;
        height: 33% !important;
    }

    .primary-navigation-open .primary-navigation > div > .menu-wrapper {
        padding-bottom: 0 !important;
    }

    .primary-navigation-open .primary-navigation > .primary-menu-container {
        padding-top: var(--global--spacing-horizontal) !important;
        height: 270px !important;
    }

    .primary-navigation-open .primary-navigation > div > .menu-wrapper > .menu-item a {
        font-size: 16px !important;
    }

    .primary-navigation-open .primary-navigation > div > .menu-wrapper > .menu-item:not(#menu-item-45) a {
        width: fit-content;
        margin: 27.6px auto !important;
    }

    .primary-navigation-open .primary-navigation > div > .menu-wrapper > #menu-item-45 a, #menu-item-45 {
        line-height: 71.27px !important;
        height: unset !important;
    }

    .primary-navigation-open .primary-navigation > div > .menu-wrapper > #menu-item-45 {
        width: 100% !important;
    }

    .primary-navigation-open .site-content > .content-area {
        opacity: 30%;
    }

    .flavor-order-button a, .form-button button {
        width: 45vw !important;
        height: 8vw !important;
        font-size: 4vw !important;
        padding: 1vw 0 !important;
    }

    #post-8 .form-contact, .form-order, .site-logo {
        width: 85% !important;
    }

    .form-order-container-below {
        flex-direction: column;
    }

    .contact-us-section {
        background-image: unset;
    }

    .form-contact [name="Message"] {
        height: unset;
        min-width: 87.5vw !important;
    }
    
    .form-text .ff-el-input--content {
        max-width: 87.5vw !important;
    }
}

@media only screen and (max-width: 392px) {
    .form-order-container-above .ff-t-cell {
        flex-basis: 100% !important;
    }
}

/* MEDIA */